.sidenav {
	height: 100%;
	max-width: 282px;
	z-index:1;
}

.sidenavleft {
	height:100%; 
	width:280px;
}

.sidenavitems {
	height: 50px;
	line-height: 50px;
	text-align: center;

	background: rgba(120,120,120,0.6);
	width: 100%;
	padding: 0px;
}

#dashhead {
	height: 150px;
}